{% if is_granted('ROLE_TEC') %}

	<!--  administración -->

	<li class="sidebar-item  has-sub">
		<a href="#" class='sidebar-link'>
			<i data-feather="triangle" width="20"></i>
			<span>Components</span>
		</a>

		<ul class="submenu ">

			<li>
				<a href="component-alert.html">Alert</a>
			</li>

		</ul>

	</li>


	<li class='sidebar-title'>Forms &amp; Tables</li>


	<li class="sidebar-item  has-sub">
		<a href="#" class='sidebar-link'>
			<i data-feather="file-text" width="20"></i>
			<span>Form Elements</span>
		</a>

		<ul class="submenu ">

			<li>
				<a href="form-element-checkbox.html">Checkbox</a>
			</li>

			<li>
				<a href="form-element-textarea.html">Textarea</a>
			</li>

		</ul>

	</li>


	<li class='sidebar-title'>Extra UI</li>


	<li class="sidebar-item  has-sub">
		<a href="#" class='sidebar-link'>
			<i data-feather="user" width="20"></i>
			<span>Widgets</span>
		</a>

		<ul class="submenu ">

			<li>
				<a href="ui-pricing.html">Pricing</a>
			</li>

			<li>
				<a href="ui-todolist.html">To-do List</a>
			</li>

		</ul>

	</li>


	<!-- logs && auditorias -->

	<li class="sidebar-item  has-sub">
		<a href="#" class='sidebar-link'>
			<i data-feather="user" width="20"></i>
			<span>Auditorias</span>
		</a>

		<ul class="submenu ">

			<li>
				<a href="ui-pricing.html">Generales-logs</a>
			</li>

			<li>
				<a href="ui-todolist.html">Registro de accesos</a>
			</li>

		</ul>

	</li>
	<!-- end logs && auditorias-->
{% endif %}
